{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th> #}
                <th>Mme. Mme</th>
                <th>Nom</th>
                {# <th>Prénom</th> #}
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Date d'inscription</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {# <td>{{ user.id }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Activé' : 'Désactivé' }}</td> #}
                <td>{{ user.gender }}</td>
                <td>{{ user.name }}</td>
                {# <td>{{ user.firstname }}</td> #}
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.dateCreation ? user.dateCreation|date('d.m.Y') : ' - ' }}</td>
                <td>{{ user.status ? 'Activé' : 'Exclu' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}"><img src="{{ asset('images/show_boutto.png') }}" alt="Afficher" class="icon"></a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><img src="{{ asset('images/edit_icon.png') }}" alt="Editer" class="icon"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun client inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_user_new') }}">Créer un compte</a> #}
{% endblock %}
