{{ form_start(form) }}
    {{ form_widget(form) }}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
    <button class="icon"><img src="{{ asset('images/enregistrer_icon.png') }}" alt="Enregistrer" class="icon"></a>    
{{ form_end(form) }}
