{% extends 'base.html.twig' %}

{% block title %}Edition d'un profil{% endblock %}

{% block body %}
    <h1>Editer le profil de {{ app.user.name|capitalize }} {{ app.user.firstname }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}"><img src="{{ asset('images/retour_icon.png') }}" alt="Retour à la liste" class="icon"></a>

    {# {{ include('user/admin/_delete_form.html.twig') }} #}
{% endblock %}
